/* global styles */
:root {
  --black: #000000;
  --black-transparent: #00000000;
  --dark-purple: #181942;
  --mid-purple: #4a2791;
  --purple: #8b6ad7;
  --purple-transparent: #8b6ad700;
  --light-purple: #b7a0ec;
  --yellow: #f1ea67;
  --dark-gray: #686868;
  --dark-gray-transparent: #68686800;
  --light-gray: #dcdcdc;
  --lightest-gray: #f1f1f1;
  --error-red: #ff5f5f;
  --pale-red: #e5c9c9;
  --deep-red: #c94b4b;
  --white: #ffffff;
  --white-transparent: #ffffff00;
  --radius: 0.5rem;
  --image-radius: 0.25rem;
  --card-radius: 0.875rem;
  --transition: 300ms;
  --error-red: #ff5f5f;
  --pale-red: #e5c9c9;
  --deep-red: #c94b4b;
}

html {
  background: var(--white);
}
html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: var(--black);
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  text-decoration: none;
  color: var(--black);
  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: var(--radius);
  font-size: 1.5rem;
  background: var(--light-gray);
  transition: filter var(--transition);
}
.button:hover {
  filter: drop-shadow(
    3px 3px 0 var(--black)
  ); /* color should match the text color of button*/
}
a.button:hover {
  filter: drop-shadow(
    3px 3px 0 var(--purple)
  ); /* color should match the text color of button*/
}
.wrapper {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}
@media (width > 600px) {
  .wrapper {
    padding: 2rem;
  }
}

/* default text styles */
h1 {
  font-size: 4.3rem;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 125%;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
ul {
  color: var(--dark-gray);
  margin-left: 1rem;
}
ol {
  margin-left: 1rem;
}
li:not(.card) {
  list-style: decimal inside;
  margin-block: 1rem;
  font-size: 1.25rem;
}
li:not(.card) > ul > li {
  list-style: inside !important;
}
blockquote {
  display: inline-block;
  border-left: 5px solid var(--purple);
  padding: 1rem;
  margin-block: 1rem;
  background-color: var(--lightest-gray);
  border-radius: 0 var(--radius) var(--radius) 0;
}
/* default link styles */
a {
  color: var(--purple);
  text-decoration-color: var(--purple-transparent);
  transition: text-decoration-color var(--transition);
}
a:hover {
  color: var(--purple);
  text-decoration-color: var(--purple);
}
img {
  border-radius: var(--image-radius);
}

/* Side by side PortableText sytles */
.info p {
  font-size: 1.25rem;
}

/* Portrait Card PortableText sytles */
.card p {
  font-size: 0.875rem;
}
@media (width > 900px) {
  .card p {
    font-size: 1rem;
  }
}
