/* global styles */
:root {
  --black: #000;
  --dark-purple: #181942;
  --purple: #4a2791;
  --lilac: #8b6ad7;
  --light-purple: #b7a0ec;
  --yellow: #f1ea67;
  --dark-gray: #686868;
  --light-gray: #dcdcdc;
  --white: #fff;
}

html {
  background: var(--white);
}
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: var(--black);
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  text-decoration: none;
  color: var(--black);
  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background: var(--light-gray);
}
