---
import PortableText from './PortableText.astro';

interface Card {
  headline?: string;
  text?: string;
  ctaText?: string;
  ctaLink?: string;
}

const { ctaCardList } = Astro.props;
---

<div class="card-list">
  {
    ctaCardList.map((card: Card) => {
      const { headline, text, ctaText, ctaLink } = card;
      return (
        <div class="card">
          {headline && <h3>{headline}</h3>}
          {text && <PortableText portableText={text} />}
          {ctaText && ctaLink && (
            <a class="button" href={ctaLink}>
              {ctaText}
            </a>
          )}
        </div>
      );
    })
  }
</div>

<style>
  .card-list {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    padding: 2rem;
    margin: 0 auto 3rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  h3 {
    font-weight: 700;
    font-size: 1.875rem;
    margin: 0;
  }

  .button {
    margin-top: auto;
  }
</style>
