---
const footerItems = [
  { name: 'About', href: '/about' },
  { name: 'Resources', href: '/resources' },
  { name: 'Volunteer', href: '/volunteer' },
  { name: 'Support', href: '/support' },
  { name: 'File A complaint', href: '/complaint' },
];
---

<style>
    footer {
        background: var(--black);
        color: var(--dark-gray);
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        text-align: center;
        gap: 1rem;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    li:last-child span {
        display: none;
    }
    a {
        color: var(--dark-gray);
        text-decoration: none;
    }
    div.terms {
      color: #aaabac;
    }
    .divider {
      padding-inline:1rem;
    }
    a:hover,
    a:active,
    a:focus {
      color: var(--mid-purple);
    }
    @media( width > 990px) {
      .mobile{
        display: none;
      }
      footer {
        flex-direction: row;
        justify-content: space-between;
      }
      div.terms {
        color: var(--dark-gray);
        max-width: 400px;
        text-align: left;
      }
      ul,
      .social-media {
        display: flex;
        gap:2rem;
      }
  }
</style>

<footer>
    <div class="terms">
        2020 © Copyright Citizens Network of Protection. All rights reserved.
    </div>
    <ul>
      {
        footerItems.map((item) => (
          <li>
            <a href={item.href}>{item.name}</a><span class="mobile divider">|</span>
          </li>
        ))
      }
    </ul>
    <div class="social-media">
      <!-- icons needed -->
      <a href="#">
        <span>f</span>
      </a>
      <a href="#">
        <span>x</span>
      </a>
      <a href="#">
        <span>y</span>
      </a>
      <a href="#">
        <span>i</span>
      </a>
    </div>
</footer>

