---
import PortableText from './PortableText.astro';

import { YouTube } from '@astro-community/astro-embed-youtube';

interface Card {
  headline?: string;
  text?: string;
  media?: string;
  mediaLink?: string;
}

const { mediaCardList } = Astro.props;
---

<ul class="cards wrapper">
  {
    mediaCardList.map((card: Card) => {
      const { headline, media, mediaLink } = card;

      return (
        mediaLink && (
          <li class="card">
            <YouTube id={mediaLink} poster={media} title={headline} />
          </li>
        )
      );
    })
  }
</ul>

<style>
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    margin: 0 auto;
  }
</style>
