---
const navItems = [
  { name: 'About', href: '/about', color:'gray' },
  { name: 'Resources', href: '/resources', color:'light-purple'  },
  { name: 'Volunteer', href: '/volunteer', color:'purple'},
  { name: 'Support', href: '/support', color: 'mid-purple'},
  { name: 'File A complaint', href: '/complaint', color: 'dark-purple' },
];
---

<style>
  .desktop { 
    display: none;
  }
  .logo {
    color: var(--black);
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 900;
  }
  header {
    background: var(--black);
  }
  #contact {
    display: flex;
    justify-content: flex-end;
    background: var(--black);
    color: var(--white);
    padding: 1rem 2rem;
  }
  #contact a {
    color: var(--white);
    text-decoration: none;
  }
  #contact a:hover,
  #contact a:active,
  #contact a:focus {
    text-decoration: underline;
  }
  nav {
    background-color: var(--white);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav a {
      color: var(--black);
      text-decoration: none;
  }
  nav a:hover {
      text-decoration: underline;
  }
  ul {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }
  nav ul {
    position: absolute;
    background: var(--white);
    padding: 1rem 1rem 2rem 1rem;
    width: 75%;
    right: 0;
    top: 143px;
    z-index: 2;
    gap: 1.5rem;
    text-align: center;
    border-bottom: var(--radius);
  }
  button.nav-toggle {
    border: none;
    background: transparent;
    font-weight: 900;
    font-size: 2rem;
  }
  .closed {
    display: none;
  }
  @media( width > 990px) {
    .desktop { 
      display: inline-block;
    }
    .mobile {
      display:none;
    }
    .logo {
      font-size: 1rem;
      padding: 1rem 2rem;
    }
    nav {
      padding: 0;
    }
    ul{
      font-size: 1rem;
    }
    ul#contact{
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;
    }
    #contact li {
      width: 200px;
      text-align: center;
    }
    #contact li:first-child {
      width: 70%;
      text-align: justify;
    }
    nav ul{
      flex-direction: row;
      gap: 0;
      list-style-type: none;
      position: static;
      z-index: 1;
      padding: 0;
      width: auto;
    }
    nav li {
      padding-block: 1rem;
      min-width: 135px;
      text-align: center;
    }
    .gray{
      background: var(--light-gray);
    }
    .light-purple{
      background: var(--light-purple);
    }
    .purple{
      background: var(--purple);
    }
    .mid-purple{
      background: var(--mid-purple);
    }
    .dark-purple{
      background: var(--dark-purple);
    }
    .purple a,
    .mid-purple a,
    .dark-purple a{
      color: var(--white);
    }
  }
  @media( width > 1315px) {
    nav li {
      min-width: 140px;
    }
  }
</style>

<script>
  const burger = document.querySelector('button.nav-toggle');
  const navList = document.querySelector('nav ul');

  window.addEventListener("resize", () => {
    if (window.innerWidth < 989){
      navList?.classList.add('closed');
      burger?.addEventListener('click', ()=> {
        navList?.classList.toggle('closed');
      })
    } else {
      navList?.classList.remove('closed');
    }
  });
</script>

<header>
  <ul id="contact">
    <li class="desktop">
      <!-- icon needed -->
      <span>[]</span>Info@CitizensNetworkofProtection.com
    </li>
    <li class="desktop">
      <!-- icon needed -->
      <span>[]</span>+1 (872) 235-2289
    </li>
    <li>
      <a href="#">Contact</a>
    </li>

  </ul>
  <nav id="menu">
    <a href="/" class="logo">Citizen's Network of Protection</a>
    <ul>
      {
        navItems.map((item) => (
          <li class={item.color}>
            <a href={item.href}>{item.name}</a>
          </li>
        ))
      }
    </ul>
    <button 
      type="button"
      class="mobile nav-toggle" 
      aria-controls="menu">
      <!-- icon needed -->
      =
    </button>
  </nav>
</header>

