---
import PortableText from './PortableText.astro';

interface Card {
  headline?: string;
  subheadline?: string;
  portraitLink?: string;
  image?: string;
}

const { portraitCardList } = Astro.props;
---

<ul class="cards wrapper">
  {
    portraitCardList.map((card: Card) => {
      const { image, headline, subheadline, portraitLink } = card;
      return (
        <div class="card">
          <div class="portrait">
            {image && <img src={image} />}
          </div>
          {headline && <h3>{headline}</h3>}
          {subheadline && <PortableText portableText={subheadline} />}
          {/* optional 3rd thing for the police officers? */}
        </div>
      );
    })
  }
</ul>

<style>
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 210px));
    gap: 2rem;
    justify-content: center;
    justify-items:center;
    margin: 0 auto;
    padding: 0;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items:center;
    max-width: 13rem;
  }
  .portrait {
    min-width: 9rem;
    min-height: 11.75rem;
    aspect-ratio: 210/280;
  }
  .portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h3 {
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--black);
  }
  @media (width > 900px) {
    h3 {
      font-size: 1.25rem;
    }
  }
</style>
