---
import Nav from '../components/Nav.astro';
interface Props {
  title: string;
}
import Footer from '../components/Footer.astro';
interface Props {
  title: string;
}

import '@fontsource/lato/100.css';
import '@fontsource/lato/300.css';
import '@fontsource/lato/400.css';
import '@fontsource/lato/700.css';
import '@fontsource/lato/900.css';

// Supports weights 100-900
import '@fontsource-variable/montserrat';

import '../style/reset.css';
import '../style/global.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Footer/>
  </body>
</html>
