---
interface Props {
  title: string;
}

import '@fontsource/lato/100.css';
import '@fontsource/lato/300.css';
import '@fontsource/lato/400.css';
import '@fontsource/lato/700.css';
import '@fontsource/lato/900.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: #482c84;
    --accent-light: #663492;
    --accent-dark: #312478;
    --base-light: #f5f5f5;
    --base-dark: #13151a;
    --light-gray: #f8f8f8e9;
    --dark-gray: #5b5a5a;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: 'Lato', sans-serif;
    background: var(--base-light);
  }
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--base-dark);
    font-family: 'Lato', sans-serif;
  }
</style>
